@tailwind base;
@tailwind components;
@tailwind utilities;

/* primary -#1F1E24  */
/* secondary -#6556CD */
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #6556CD;
    border-radius: 20px;
}