@tailwind base;
@tailwind components;
@tailwind utilities;

/* primary - */
/* secondary -#6556CD */
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #6556CD;
    border-radius: 20px;
}
body{
    background-color: #1F1E24 ;
}
/* Add this globally to prevent horizontal scrolling */
body {
    overflow-x: hidden;
  }
  
  /* Sidenav styles */
  
  
  
  